<div class="search-wrapper mt-16">
  <p class="text-xl text-white text-center">
    Recuerdas el nombre de algún Pokemon?
  </p>
  <div class="flex justify-center mt-5 w-full">
    <app-input
      [value1]="inputValue"
      (value1Change)="changeInputHandle($event)"
    ></app-input>
    <div class="ml-3">
      <app-button (onClickEv)="clickHandle()"></app-button>
    </div>
  </div>
  <div class="flex my-5 justify-center text-center">
    <p class="text-xl text-white">
      Llevas
      <span class="text-green-500">{{ successArr.length }}</span> acertados!
    </p>
  </div>
  <div  *ngIf="loading" class="flex justify-center">
      <app-spinner></app-spinner>
  </div>
  <div class="flex justify-between mt-16">
    
    <div *ngIf="pokeToFind && !error && !loading" class="">
      <app-card
        [img]="pokeToFind?.sprites.front_default"
        [name]="pokeToFind?.name | titlecase"
        [number]="pokeToFind?.order"
      ></app-card>
    </div>
    <div
      *ngIf="successArr.length > 0 && !error && !loading"
      class="successList text-white ml-5"
    >
      <ul>
        <li *ngFor="let item of successArr">{{ item | titlecase }}</li>
      </ul>
    </div>
  </div>
  <app-alert *ngIf="error && !loading" [message]="this.error"></app-alert>
</div>
