<div class="search-wrapper text-white text-center mt-16">
    <div class="titles-wrapper flex align-center">
        <img
            style="width: 50px; height: 50px"
            src="assets/images/pokeball.png"
            alt=""
        />
        <div class="titles-wrapper">
            <h1 class="title">Poke Angular</h1>
            <h3 class="subtitle">De cuantos te acuerdas?</h3>
        </div>
        <img
            style="width: 50px; height: 50px"
            src="assets/images/pokeball.png"
            alt=""
        />
    </div>
    <div class="flex justify-center mt-5 w-full">
        <app-input
            [value1]="inputValue"
            (value1Change)="changeInputHandle($event)"
            (keyup.enter)="clickHandle()"
            [disabled]="error"
        ></app-input>
        <div class="ml-3">
            <app-button (onClickEv)="clickHandle()"></app-button>
        </div>
    </div>
    <div class="flex my-5 justify-center text-center">
        <p *ngIf="!error" class="text-xl text-white">
            Llevas
            <span class="text-green-500">{{ successArr.length }}</span>
            acertados!
        </p>
    </div>
    <div *ngIf="loading" class="flex justify-center">
        <app-spinner></app-spinner>
    </div>
    <div class="flex w-3/4 justify-center mt-5">
        <div *ngIf="pokeToFind && !error && !loading" class="">
            <app-card
                [img]="pokeToFind.img"
                [name]="pokeToFind.name | titlecase"
                [number]="pokeToFind.order"
            ></app-card>
        </div>
        <div
            *ngIf="successArr.length > 0 && !error && !loading"
            class="success-list text-white ml-5"
        >
            <ul>
                <li
                    *ngFor="let item of successArr"
                    (click)="handleListClick(item.name)"
                >
                    {{ item.name }}
                </li>
            </ul>
        </div>
    </div>
    <app-alert *ngIf="error && !loading" [message]="this.error"></app-alert>
    <p *ngIf="error" class="text-xl mt-5 text-white">
        Has acertado
        <span class="text-green-500 text-xl">{{ successArr.length }}</span
        >!!
    </p>
    <div *ngIf="error && !loading" class="restart-option mt-5">
        <div class="text my-3">Quieres volver a jugar?</div>
        <app-button (onClickEv)="onRestart()"></app-button>
    </div>
</div>
